/*
参考样式：
https://moonvy.com/blog/post/2022/diffusion-accelerates-diffusion/#%E7%BB%98%E7%94%BB%E8%BE%85%E5%8A%A9%E5%B7%A5%E5%85%B7
代码来源：https://vuepress-theme-hope.github.io/v2/zh/config/style.html
*/

// 左侧菜单栏的宽度
$sidebar-mobile-width: 16rem;

$theme-color: #2196f3


